<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>পদার্থবিজ্ঞান কুইজ</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>পদার্থবিজ্ঞান কুইজ</h1>
    <form th:action="@{/quiz/submit}" method="post">
        <input type="hidden" name="studentId" th:value="${studentId}">

        <div th:each="question, iterStat : ${questions}" class="question">
            <h3 th:text="${iterStat.count} + '. ' + ${question.questionText}"></h3>
            <div th:each="option, optStat : ${question.options}">
                <input type="radio" th:name="answers[${iterStat.index}]" th:value="${optStat.index}" th:id="${'q'+iterStat.index+'o'+optStat.index}" required>
                <label th:for="${'q'+iterStat.index+'o'+optStat.index}" th:text="${option}"></label>
            </div>
        </div>

        <button type="submit">জমা দিন</button>
    </form>
</div>
</body>
</html>